.idea/
.vs/
/venv/

/age-detection/scripts/__pycache__/
/age-detection/bin/
/age-detection/haar-cascades/
/age-detection/img/
/age-detection/models/
/age-detection/.classpath
/age-detection/.project
/age-detection/build.fxbuild
/age-detection/.classpath
/age-detection/.project
/age-detection/.settings/

README.txt
/presentation/
